@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .hello-tailwind {
    @apply text-[#235432] text-2xl font-bold
  }
}





:root {
  --main-color: #6dd5ed;
  --secondary-color: #2193b0;
  --wa-primary-color: #008069;
  --wa-bg: #f0f2f5;
  --wa-span: #8696a0;
  --wa-link-color: #009de2;
  --wa-edit-text-color: #008069;
  --waSelectedUserBg: #e9edef;
  --drawer-boxshadow: 0px 1px 3px rgba(11, 20, 26, 0.08);
  --white: #fff;
  --bb: #dfe0e1;
  --black: #000;
  --gradient: linear-gradient(135deg,
      var(--main-color),
      var(--secondary-color));
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  font-family: "Nunito", sans-serif;

  min-height: 100vh;
  margin: 0px !important;
}

.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatContainer {
  min-height: 100vh;
  color: black;
}

.sidebar {
  width: 40%;
  flex-direction: column;
  background-color: var(--wa-bg);
}

.sidebarHeader {
  justify-content: space-between;
  height: 9vh;
  border-right: 1px solid #d7d7d7;
}

.settingUserProfileAvatar {
  cursor: pointer;
}

.settingVerticalEllipse,
.settingMessage,
.settingNotifica {
  font-size: 24px;
  color: #54656f;
  padding: 8px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 8px;
  cursor: pointer;
}

.dropDownSettings {
  padding-bottom: 10px !important;
}

.dropDownSettings ul li:last-child {
  padding-bottom: 15px !important;
}

.dropDownSettings li {
  padding-left: 25px !important;
  padding-top: 10px !important;
  padding-right: 50px !important;
}

.DrawergoBack {
  padding-right: 30px !important;
  cursor: pointer;
}

.dropDownSettings span {
  font-size: 18px !important;
  color: #54656f !important;
}

.dropDownSettings span .dangerBtn:hover {
  color: white !important;
}

.ant-drawer-header-title {
  all: unset !important;
}

.ant-drawer-header {
  height: 120px !important;
  background-color: #008069 !important;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-top: 12px;
  padding-bottom: 20px;
}

.ant-modal-header {
  background-color: #008069 !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-modal-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.listOfUsersForAddParticipents {
  margin-top: 20px;
  max-height: 50vh;
  min-height: 50vh;
  overflow-y: scroll;
}

.listOfUsersForAddParticipents::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.listOfUsersForAddParticipents::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.listOfUsersForAddParticipents::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #ced0d1;
}

.addPartiModal .seletedUsersForGroupChat {
  display: flex !important;
  gap: 12px !important;
  flex-wrap: wrap !important;
}

.ant-checkbox-inner {
  border: 1px solid black !important;
  height: 20px !important;
  width: 20px !important;
}

.ant-drawer-title {
  font-size: 22px !important;
  color: White !important;
}

.ant-drawer-body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.ant-drawer-body::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.ant-drawer-body::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #ced0d1;
}

.ant-drawer-body {
  padding: 0px !important;
  position: relative;
}

.ant-drawer-body .form-control {
  padding: 0px 15px;
}

.searchUserLists::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.searchUserLists::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.searchUserLists::-webkit-scrollbar-thumb:vertical {
  height: 30px !important;
  background-color: #ced0d1 !important;
}

.userSearchBox {
  background-color: var(--white);
  padding: 0px 16px;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--bb);
}

.userSearchBox input,
.ant-drawer-body input {
  border: none !important;
  background-color: var(--wa-bg);
  padding: 10px;
  border-radius: 5px !important;
  width: 100% !important;

}

.usersList {
  background-color: var(--white);
  height: 83vh;
  overflow-y: scroll;
}

.searchUserLists {
  background-color: var(--white);
  height: 78vh;
  overflow-y: scroll;
}

.usersList::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.usersList::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.usersList::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #ced0d1;
}

.userListItem {
  height: 10vh;
}

.userListItem :hover {
  cursor: pointer;
  /* background: var(--wa-bg); */
}

.chatImage {
  padding: 0 15px 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.chatDescLatestMsg {
  flex: 1;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--bb);
  width: 70%;
  overflow: hidden;
}

.usersList:first-child .chatDescLatestMsg {
  border-top: none;
  background-color: red;
}

.chatDescLatestMsg {
  font-size: 14px;
}

.chatName {
  font-size: 20px;
  color: var(--black);
  letter-spacing: 1px;
  text-transform: capitalize !important;
}

.nameLatestMsg {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .ChatHeaderGroupParticipents {
  width: 800px;
  min-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.chatNameAndTime,
.chatDescAndSetting {
  justify-content: space-between;
  padding: 2px 0px;
}

.chatView {
  width: 100%;
  justify-content: center;
  background-color: var(--white);
}

.chatViewHeader {
  height: 9vh;
  display: flex;
  background-color: var(--wa-bg);
  padding: 10px 16px;

}

.selectedChatImage {
  padding-right: 15px;
}

.selectedChatName {
  flex-grow: 1;

}

.selectedChatName span {
  font-size: 20px;
  color: var(--black);
  letter-spacing: 1px;
}

.selectedChatName p {
  font-size: 12px;
  color: var(--black);
  letter-spacing: 1px;
}

.seletedUsersForGroupChat {
  padding: 0px 15px;
  max-height: 30vh;
  overflow: scroll;
  width: 100%;
}

.seletedUsersForGroupChat::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.seletedUsersForGroupChat::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.seletedUsersForGroupChat::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #ced0d1;
}

.selectedChatSetting {
  flex-grow: 0;
}

.chatViewBody {
  height: 82vh !important;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  overflow-y: scroll;
}

.chatMessages {
  /* height: 90%; */
  width: 100%;
  padding: 20px 85px;
}

.ChatsRightView {
  border-right: 1px solid #ddddde;
}

.chatMessages__message {
  display: flex;
  flex-direction: column;
}

.footerWriteNewMessage {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--wa-bg);
}

.footerWriteNewMessage__send {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #54656f;
}

.footerWriteNewMessage__input {
  flex: 1;
}

.footerWriteNewMessage__input input {
  height: 42px;
}

.footerWriteNewMessage__send svg {
  transform: scale(2);
}

.chatMessages__message__item__content__text {
  color: #111b21;
  font-size: 16px;
}

.chatMessages__message__item__content {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  margin-top: 5px;
  box-shadow: 0 1px 3px rgba(11, 20, 26, .4);
  display: flex;
  min-width: 80px;
  padding: 8px;
  max-width: 50%;
  width: fit-content;
  height: auto;
  word-break: break-all;

}

.ifGroupShowSenderName {
  position: absolute;
  top: 0px;
  left: 8px;
  font-size: 14px;
  color: var(--wa-edit-text-color);
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-top: 4px;
  font-weight: bold;
}

.chatViewBody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatViewBody::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.chatViewBody::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #ced0d1;
}


.chatMessages__message__item__content__time {
  align-self: flex-end;
  margin-left: 15px;
  min-width: 50px;
  color: #667781;
  font-size: 11px;
  margin-bottom: -8px;
}

.nameAndRemoveIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.su_user {
  width: fit-content;
  background-color: var(--waSelectedUserBg);
  border-radius: 12px;
  overflow: hidden;
  margin-top: 5px;
  /* padding: 0px 15px; */
}

.su_name {
  font-size: 18px;
}

.su_remove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 28px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 2px;
  color: #8696a0;
}

.su_remove:hover {
  background-color: #ffffff;
}

.submitSlectedUser {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: #f0f2f5;
  height: 15vh;
}

.finalSubmissionSelectedUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  height: 15vh;
}

.noRecordsFound {
  padding: 50px;
  text-align: center;
  color: #8696a0;
}

.groupSubmitBtn,
.groupSubmitBtnLoading {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a884;
  color: white;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(11, 20, 26, .4);
}

.addPartiModal {
  position: relative;
}

.addPartiModal .groupSubmitBtn,
.groupSubmitBtnLoading {
  position: absolute;
  bottom: 0;
  right: 0;
}

.groupSubmitBtn svg {
  transform: scale(1.7);
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}



a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
}

button:hover {
  background: var(--secondary-color);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #fff;
}

button.ghost:hover {
  background: #fff;
  color: var(--secondary-color);
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: rgb(179, 179, 179);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-family: inherit;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid rgb(77, 77, 77);
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #333;
  border-radius: 6px;
  font-size: 13px;
  font-family: 'Nunito', sans-serif !important;
  width: 100%;
  margin: 8px 0px;
  color: white !important;
}

.mainContainerLoginReg h1 {
  font-size: 34px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  height: 768px;
  width: 480px;
  max-width: 100%;
}

.form-container {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  top: 0;
  height: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

.sign-up-container {
  top: 0;
  height: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateY(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.imageUpload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  position: relative;
}

.groupSubmitBtnLoading svg {
  animation: spinLoader 0.8s linear infinite !important;
}


@keyframes spinLoader {
  0% {
    transform: scale(1.7) rotate(0deg);
  }

  100% {

    transform: scale(1.7) rotate(360deg);
  }
}

.d_groupName {
  background-color: var(--white);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 10px;
  box-shadow: var(--drawer-boxshadow);
}

.totalParticipants {
  padding: 0px 10px 10px 10px;
  background-color: var(--white);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--wa-span);
  box-shadow: var(--drawer-boxshadow);
}

.adminAddParticipents .chatDescLatestMsg {
  border: none;
}

.groupParticipentsList {
  padding: 17px 30px;
  margin-top: 10px;
  background-color: var(--white);
  box-shadow: var(--drawer-boxshadow);
}

.inputGroupName {
  box-shadow: var(--drawer-boxshadow);
}

.par_list .chatDescLatestMsg {
  border: none;
}

.par_list .chatImage {
  padding-left: 0px !important;
}

.chatImage .ant-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d4d4d8
}

.viewAllPaticipents {
  padding: 10px;
  font-size: 18px;
  color: var(--wa-link-color);
  text-align: center;
  cursor: pointer;
}

.customizeViewMore {
  margin-top: 0px;
  box-shadow: var(--drawer-boxshadow);
  border-radius: 7px;
  margin-top: 0px;
  background: white;
}

.customizeViewMore .chatDescLatestMsg {
  border-top: none !important;
}

.groupAdminBadge {
  padding: 3px 7px;
  background-color: #e7fce3;
  color: #1b8748;
  border-radius: 3px;
  border: 1px solid #e7fce3;
  font-size: 13px;
  line-height: 14px;
  /* height: 16px; */
}

.exitGroup {
  margin-top: 10px;
  color: red;
  font-size: 16px;
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 17px 30px;
  font-size: 22px;
  gap: 25px;
  cursor: pointer;
}

.exitGroup svg {
  transform: scale(1.2);
}



.addParticipent {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #00a884;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-right: 3px;
  padding-bottom: 1px;
}

.addParticipent svg {
  transform: scale(1.7);
}

.showDropDownToRemoveParticipent:hover {
  display: block;
}

/* .ant-drawer-body {
  background: var(--wa-bg);
} */
.ant-drawer-body .form-control {
  background-color: var(--white);
}

.drawer-group-name-and-image .ant-drawer-body {
  background: var(--wa-bg);
}

.drawer-group-name-and-image input {
  background-color: var(--white);
}

.drawer-group-name-and-image input {
  background-color: var(--white);
}

.drawer-group-name-and-image .groupImageUpload {
  background-color: var(--white);
}

.groupImageUpload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  position: relative;
  padding-top: 17px;
  /* box-shadow: var(--drawer-boxshadow); */
}

.groupImageUpload img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 1px 3px rgba(11, 20, 26, .4);
}

.custom-file-upload {
  text-align: center;
}

.imageUpload img {
  height: 40px;
  width: 48px;
  border-radius: 5px;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateY(-100%);
}

.overlay {
  background: var(--secondary-color);
  background: var(--gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  top: -100%;
  width: 100%;
  height: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateY(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateY(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateY(0);
}

.overlay-right {
  bottom: 0;
  transform: translateY(0);
}

.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}



.imageOverlayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImageOverlayIcons {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.userProfileImageOverlay {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 9999;

}

.userProfileDrawer {
  background: var(--wa-bg) !important;
}

.imageOverlaychangeImage {
  font-size: 13px;
  margin-top: 10px !important;
  text-transform: uppercase;
  width: 115px;
  text-align: center;
}

.userProfile {
  background-color: var(--wa-bg);
  padding: 30px 0px;
}

.userUpdateAbheFields {
  background-color: var(--wa-bg);
}

.userProfileEditName {
  background-color: var(--white);
  padding: 14px 30px 10px;
  box-shadow: 0 1px 3px var(--drawer-boxshadow)
}

.userProfileName {
  color: var(--wa-edit-text-color);
  margin-top: 0px !important;
  font-size: 16px;
}

.userProfileNameEditInput {
  /* style input field having background none border botton gren */
  all: unset !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid var(--wa-edit-text-color) !important;
  border-radius: 0px !important;
  font-size: 24px !important;
  padding-left: 0px !important;
  width: 80% !important;
}

/* on input focus border botton grren with animation */
.userProfileNameEditInput:focus {
  border-bottom: 2px solid var(--wa-edit-text-color) !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
}

.userViewImageCont {
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
}

.userViewImage {
  object-fit: cover !important;
}

.editUserProfileName {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.editIconUserProfile {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.userNameAlertMessage {
  color: #8696a0;
  font-size: 14px;
  padding: 10px 20px 28px 30px !important;
  margin: 0px !important;

}

@media (max-width: 1024px) {
  .chatContainer .sidebar {
    width: 400px;
  }

  .ant-drawer {
    width: 400px;
  }
}

@media (min-width: 768px) {
  body {
    margin: -20px 0 50px;
  }



  .container {
    width: 768px;
    max-width: 100%;
    height: 480px;
  }

  .form-container {
    top: 0;
    height: 100%;
    width: 50%;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
  }

  .overlay-container {
    left: 50%;
    top: 0;
    height: 100%;
    width: 50%;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    top: 0;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    top: 0;
    left: 50%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
}